.text-center{
    text-align: center;
    font-family: "Jost", sans-serif;
    font-weight: 450;
    font-size: 25px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px orangered;
}



.mx-auto{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.row input{
    padding: 20px 52px;
    border: 2px solid black;
    border-radius: 10px;
    font-family:  "Jost", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background-color: black;
    color: white;
    box-shadow: 4px 4px 7px 2px orangered;
    text-align: right;
}
